*.aux
*.bbl
*.bcf
*.blg
*.log
*.lol
*.out
*.xml
*.gz
*.idx
*.lof
*.toc
*.fdb_latexmk
*.fls
*.ilg
*.nav
*.snm
*.ind
_minted-thesis
thesis.pdf
presentation/presentation.pdf

!graphs/*.xml
.vscode
# .DS_Store
.DS_Store
